:root{
    --oscuro: #212121;
    --primario:#ffC107;
    --secundario:#0097a7;
    --anchopantalla:1200px;
    --gris:#757575
}

html{
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
}
*,*:before,*after{
    box-sizing: inherit;
}

body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    font-family:  'Krub',sans-serif;
    min-height: 100%;
    font-size: 1.6rem;
   }

   .site-header nav{
    
       max-width: var(--anchopantalla);
       margin: 0 auto;
       padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
    }
.site-header{
    background-color: white;
}

       .site-header nav a{
           color: var(--oscuro);
           font-size: 2.2rem;
           text-decoration: none;
           padding: 2 rem;
           margin-bottom: 2rem;
       }

       @media(min-width:768px){
           .site-header nav{
               flex-direction: row;
               justify-content: space-between;
           }
       }
      
       .site-header nav a:last-of-type{
       margin-bottom: 0;
    }
       
       @media(min-width:768px){
        .site-header nav a{
           margin-bottom: 0;
        }
    }

    .hero{
        height: 45rem;
        background-image: url(../img/hero.jpg);
        position: relative;
        display: flex;
        justify-content: center;
     align-items: center;
    }
    
    .hero::after{
    content: '';
        background-color: rgba(0,0,0,.7);
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
}

.contenedor-hero{
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
}


.contenedor-hero i{
    color: var(--primario);
    font-size: 4rem;

}
h1,h2,h3{
    margin: 0;
   
}
h2,h3{
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
}
h3{
    color: var(--secundario);
}
p{
    font-size: 1.8rem;
    line-height: 2;
}
.boton{
background-color: var(--secundario);
padding: 1rem 5rem; 
display: inline-block;
margin-top: 1rem;
color: white;
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
font-size: 2.2rem;
border-radius: .5rem;
border: none;

}
.boton hover{
    cursor: pointer;
}
.contenedor{
max-width: var(--anchopantalla);
margin:0 auto;
background-color: white;
padding: 3rem;
border-radius: 1rem;
-webkit-box-shadow: -25px 17px 17px -15px rgba(0,0,0,0.75);
-moz-box-shadow: -25px 17px 17px -15px rgba(0,0,0,0.75);
box-shadow: -25px 17px 17px -15px rgba(0,0,0,0.75);
}


.contenedor-servicios{
margin-top: 3rem;
}

@media(min-width:768px){
    .contenedor-servicios{
        display: flex;
        justify-content: space-between;
    }
    .servicios{
        flex:0 0 calc(33.3% - 1rem);
    }
   
}
.servicios{
    margin-top: 3rem;
    margin: 3rem auto;
}


.iconos{
    width: 100px;
    height: 100px;
    color: yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: o auto;
    justify-content: space-evenly;
    margin-top: 2rem;

}

.iconos{
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
}

form{
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 1rem;
}
form legend{
    text-align: center;
    font-size: 2rem;
    color:var(--primario);
    margin: 3rem 0;
}

@media(min-width:768px){
form {
    max-width: 800px;
    margin: 0 auto;
    margin: 3rem auto;
}
.contenedor-campos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.campos{
    flex:0 0 calc(50% - 1rem);
}}

.campos{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campos label{
    flex: 0 0 90px; 
    padding-top: .5rem;
    color: white;
}
.campos input{
    flex: 1;
    height: 4rem;
}
.campos textarea{

    flex: 1;
    height: 6rem;
}

.w-100{
    flex: 0 0 100%;

}

.enviar{
    display: flex;
    justify-content: center;
}


